/* // ==============================|| AUTOCOMPLITE||============================== // */

.css-s8oxlg-MuiInputBase-root-MuiOutlinedInput-root {
  font-family: 'Poppins', sans-serif !important;
  padding-right: 0 !important;
}

.css-5kwl21-MuiAutocomplete-listbox .MuiAutocomplete-option{
  font-family: 'Poppins', sans-serif !important;
}